.textbox {
    width: 78%;
    height: 96vh;
    float: left;
    resize: none;
}

#chatbox {
    width: 78%;
    float: left;
}

#user-select {
    outline: auto;
    width: 100%;
}

.fill {
    width: 100%;
}

.vfill {
    height: 90%;
}

.scrollable {
    overflow-y: auto;
}

.left {
    float: left;
}

.right {
    width: 20%;
    float: right;
}

.groupbox {
    height: 40vh;
}

.keyentry {
    width: 70%;
}

.keyentry-tag {
    width: 20%;
}

.center {
    text-align: center;
}

.selected {
    background-color: lightgrey;
}

tr {
    outline: auto;
}

html {
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.messagetable {
    width: 100%;
    text-align: left;
    font-weight: lighter;
    font-family: monospace;
}

.user {
    width: 15%;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.content {
    width: 85%;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 200;
}

.outlined {
    outline: auto;
}